html, body
{
	margin: 0;
	padding: 0;
	height:100%;
}

.map{
	height:100%;
	width:100%;
}

#hero{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-family: sans-serif;
	font-size:3em;
	color:white;
	border: solid;
	border-width: 4px;
	padding:.5em;
	box-shadow: 1px 1px 2px black;
	text-shadow: 1px 1px 2px black;
	background-color: rgba(256,256,256,0.8);
}